
CSE 447/HW1/data/data/lexicon/negative-words.txt
CSE 447/HW1/data/data/lexicon/positive-words.txt
CSE 447/HW1/data/data/shakespear_dev.txt
CSE 447/HW1/data/data/shakespear_train.txt
CSE 447/HW1/data/data/sst_dev_binary.csv
CSE 447/HW1/data/data/sst_dev_multiclass.csv
CSE 447/HW1/data/data/sst_test_release.csv
CSE 447/HW1/data/data/sst_train_binary.csv
CSE 447/HW1/data/data/sst_train_multiclass.csv
